<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <TargetFramework>net9.0</TargetFramework>
    <ProjectGuid>d5d74ec3-fee3-4207-a4c1-786a9f0a8019</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>